.calendar-day {
  position: relative;
  flex: 1;

  .calendar-day-underlay-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .calendar-day-underlay {
      width: 100%;
      height: 25px;

      &.white {
        background: rgba(0, 0, 0, 0);
      }
      &.light-grey {
        background: rgba(0, 0, 0, 0.1);
      }
      &.dark-grey {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .calendar-day-class-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .calendar-day-class {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      .class-info {
        font-size: 14px;
      }
    }
  }
}
