.home {
  margin: 5vh 5vw;

  .title {
    .title-text {
      text-align: center;
    }
  }

  .search-bar {
    display: flex;
    justify-content: center;
    .input-courses {
      width: 600px;
    }
    .input-term {
      width: 75px;
      margin-left: 25px;
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}
