.uw-scheduler-field {
  display: flex;
  align-items: center;
  .uw-scheduler-checkbox-wrapper {
    display: block;
    position: relative;
    height: 18px;
    width: 18px;
    padding-right: 8px;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // hide default input
    .uw-scheduler-checkbox-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: relative;
      display: block;
      width: 18px;
      height: 18px;

      border-radius: 4px;
    }

    .checkmark::after {
      position: absolute;
      content: '';
      display: inline-block;
      height: 6px;
      width: 9px;
      border-left: 2px solid;
      border-bottom: 2px solid;

      color: white;

      transform: rotate(-45deg);

      left: 4px;
      top: 4px;
    }

    .uw-scheduler-checkbox-input + .checkmark::after {
      content: none;
    }
    .uw-scheduler-checkbox-input:checked + .checkmark::after {
      content: '';
    }

    .uw-scheduler-checkbox-input:focus + .checkmark::before {
      outline: 0;
    }
  }
}
