.home {
  margin: 75px 150px;

  .title {
    .title-text {
      text-align: center;
    }
  }

  .search-bar {
    display: flex;
    justify-content: center;
    .uw-scheduler-field {
      width: 600px;
    }
  }
}
