// TODO: don't duplicate the flex:1 and flex:10
.calendar {
  display: flex;
  flex-direction: column;

  .calendar-day-divider {
    width: 1px;
    height: 100%;

    background: black;
  }

  .calendar-heading-container {
    display: flex;
    height: 30px;

    .calendar-heading-time-container {
      flex: 1;
    }

    .calendar-heading-day-container {
      flex: 10;
      display: flex;

      .calendar-heading-day {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .calendar-heading-day-text {
          font-weight: 600;
        }
      }
    }
  }
  .calendar-body-container {
    display: flex;

    .calendar-time-container {
      flex: 1;

      .calendar-time {
        position: relative;
        width: 100%;
        height: 25px;

        .calendar-time-tick {
          position: absolute;
          top: 0;
          right: 0;
          width: 10px;
          height: 1px;

          background: black;
        }

        .calendar-time-text {
          position: absolute;
          top: -4px;
          right: 11px;
          height: 10px;

          line-height: 10px;
          font-size: 10px;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }

    .calendar-day-container {
      display: flex;
      flex: 10;
    }
  }
}
